langchain
langgraph
langchain-community
langchain-experimental
chromadb
faiss-cpu
ctransformers
transformers
sentence-transformers
accelerate
plotly
dash
dash-bootstrap-components
dash-trich-components
python-dotenv
llama-index
openai
langchain-openai
jupyter
spacy
nltk
psycopg[binary]
psycopg-pool
langgraph-checkpoint-postgres
rank-bm25
unstructured[pdf]
PyMuPDF
pandas
pillow